<style>




  .notice.theme--light.v-sheet{
    padding: 15px;
    background-color: #fbfbfb;
    border: 2px solid #eceff1;
    border-radius:6px;
    max-width: 350px;
    margin:auto;
  }


  .date{
    float:right;
    font-size:8pt;
    margin:4px 0;

  }

  .pagination{
    position: relative;
    bottom: 0;
  }

  .author span{
    margin-left:5px;
    font-size:8pt
  }

  .author img{
    height:20px;
    width:20px;
    border-radius:100%
  }

  .board_header{
    background-blend-mode:overlay;
    background-color: #222222;
  }


  @media only screen and (min-width: 740px) {
    .notice.theme--light.v-sheet{

    }

  }

  @media only screen and (min-width: 960px) {
    .notice.theme--light.v-sheet{
      width: auto;
    }
  }

</style>

<template>
  <div>
    <!--v-show="noticesLoadStatus==2"-->
    <header
            v-if="board!=null"
            class="header board_header"
            :style="{
                            backgroundImage:`url(${board.image})`
                         }"
    >
      <navigation></navigation>
      <v-container>
        <v-layout row align-center justify-center wrap class="header-content" >
          <v-flex xs12 class="">
            <h4>{{(board.title).charAt(0).toUpperCase()+(board.title).slice(1)}} Board</h4>
            <!--<p>{{board.notices_count}} {{(board.notices_count)===1?'notice':'notices'}}</p>-->
          </v-flex>
          <v-flex
                  xs12
          >
            <v-autocomplete
                    v-model="board"
                    :items="boards"

                    label="Select Board"
                    item-text="title"
                    item-value="id"
                    attach
                    return-object
                    dark
            >
              <template
                      slot="item"
                      slot-scope="data"
              >
                <template>
                  <v-list-tile-avatar>
                    <img :src="data.item.image">
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title v-html="data.item.title"></v-list-tile-title>
                    <v-list-tile-sub-title >{{data.item.notices_count}} {{(data.item.notices_count)===1?'notice':'notices'}}</v-list-tile-sub-title>
                  </v-list-tile-content>
                </template>
              </template>
            </v-autocomplete>
          </v-flex>

        </v-layout>
      </v-container>

    </header>
    <v-container
            v-else-if="board===null"
    >
      <v-flex xs12  text-xs-center>
        <v-progress-circular
                indeterminate
                color="primary"
        >
        </v-progress-circular>
      </v-flex>
    </v-container>
    <v-container
            fluid
            grid-list-md
            v-show="board!=null"
    >
      <!--<v-breadcrumbs :items="items">-->
      <!--</v-breadcrumbs>-->
      <v-layout
              row
              wrap
              v-show="notices.length>0 && loading"
      >
        <notice
                v-for="(notice,index) in notices"
                :key="notice.id"
                :index="index"
                :notice="notice"
                :getAdmin="getAdmin"
                :getAuthor="getAuthor"
        ></notice>
      </v-layout>
      <v-layout>
        <v-flex xs12 text-xs-center v-show="morePages && noticesLoadStatus==2">
          <!--<v-btn @click="loadMore">Load More</v-btn>-->
          <v-btn color="primary" @click="loadMore" class="">Load More</v-btn>
        </v-flex>
        <v-flex text-xs-center >
          <v-progress-circular
                  indeterminate
                  color="primary"
                  v-show="noticesLoadStatus==1"
          >
          </v-progress-circular>
        </v-flex>
      </v-layout>
      <v-layout
              row
              wrap
              v-show="notices.length==0 && noticesLoadStatus==2"
      >
        <v-flex class="empty_state" text-xs-center>
          <img  src="../../images/notices.svg" alt="">
          <p>No notices in this board</p>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container
            row
            wrap
            v-show="noticesLoadStatus==3 || noticesLoadStatus==4"
    >
      <v-flex xs12  text-xs-center>
        <p>Failed to load the notices.</p>
      </v-flex>
    </v-container>
    <v-btn
            v-show="getAdmin || getAuthor"
            color="primary"
            dark
            fixed
            bottom
            right
            fab
            slot="activator"
            :to="{ name: 'create-notice'}"
    >
      <v-icon>add</v-icon>
    </v-btn>
    <v-snackbar
            v-model="snackbar"
            color="primary"
    >
      {{snackbarMessage}}
    </v-snackbar>
  </div>
</template>

<script>
  import Notice from '../components/Notice.vue'
  import Navigation from '../components/global/Navigation.vue';

    export default {
//        props:['title'],
        components:{
            Notice, Navigation
        },
        data: () => ({
            board:null,
            items:[],
            page:1,
            snackbar:false,
            snackbarMessage:'',
            loading:true
        }),
        created(){


            this.$store.dispatch('loadBoards',{accessToken: this.$store.getters.getAccessToken});
//            this.items=[{
//                text:'Boards',
//                disabled:false,
//                href:'/#/boards'
//            },{
//                text:(this.title).charAt(0).toUpperCase()+(this.title).slice(1),
//                disabled:true,
//            }]

        },
        computed:{
            boards:function(){
                return this.$store.getters.getBoards;
            },
            boardsLoadStatus:function () {
                return this.$store.getters.getBoardsLoadStatus
            },
//            board:function () {
//                return this.$store.getters.getBoard;
//            },
            notices:function () {
                return this.$store.getters.getNotices;
            },
            lastPage:function () {
                return this.$store.getters.getLastPage;
            },
            noticesLoadStatus:function () {
                return this.$store.getters.getNoticesLoadStatus;
            },
            morePages:function () {
                return this.$store.getters.getMorePages;
            },
            getAdmin:function () {
                return this.$store.getters.getAdmin;
            },
            getAuthor:function () {
                return this.$store.getters.getAuthor;
            },

        },
        watch: {
            board:function () {
                this.loading=false;
                this.$store.dispatch('loadNotices',{
                    page:1,
                    title:this.board.title,
                    append:false,
                    accessToken:this.$store.getters.getAccessToken
                });

            },
            boardsLoadStatus: function () {
                switch (this.boardsLoadStatus) {
                    case 1:
                        this.snackbarMessage = "Loading boards";
                        break;
                    case 2:
                        this.snackbarMessage = "Boards loaded successfully.";
                        if (this.board===null)
                          this.board=this.boards[0];
                        break;
                    case 3:
                        this.snackbarMessage = "Boards failed to load.";
                        break;
                    case 4:
                        this.snackbarMessage = "Boards failed to load.";
                        break;
                    default:
                        break;
                }
//                this.snackbar = true;
            },
            noticesLoadStatus: function () {
                switch (this.noticesLoadStatus) {
                    case 1:
                        this.snackbarMessage = "Loading notices";
                        break;
                    case 2:
                        this.snackbarMessage = "Notice loaded successfully.";
                        this.loading=true;
                        break;
                    case 3:
                        this.snackbarMessage = "Notice failed to load.";
                        break;
                    case 4:
                        this.snackbarMessage = "Notice failed to load.";
                        break;
                    default:
                        break;
                }
//                this.snackbar = true;
            },
//            page:function () {
//
//            }
        },
        methods:{
            loadMore(){
                this.$store.dispatch('appendNotices',{
                    title:this.board.title,
                    accessToken:this.$store.getters.getAccessToken
                });
            }
        }
    }
</script>