<style lang="scss">
    h6{
        font-weight: lighter;
    }

    .features{
        padding: 40px 0 0 0;
        color: white;
        /*background-color:#f2f2f2;*/
        /*background-color:white;*/
        background: url("../../images/background_variant.jpg");
        background-position:center bottom;
        background-repeat:none;
        background-size: cover;
        /*background-color: #1d55cc;*/
        /*color:white;*/
        /*height: 500px;*/
        background-color: #0f1735;

        h3{

        }

        h4{
            /*font-weight: 300;*/
            color: rgba(255,255,255,0.5);
        }

        .feature.theme--light.v-sheet{
            padding: 30px;
            background-color: #e9eeff;
            border: 2px solid #eceff1;
            border-radius:6px;
            /*min-height: 290px;*/
            /*height: 300px;*/
            max-width: 250px;
            margin:20px auto;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
        }

        .feature{
            margin-top: 40px;

            h5{
                font-size: 16pt;
                color: #0f1735;
            }

            p{
                font-size: 14pt;
                color: #0f1735;
                /*font-weight: 300;*/
            }


            img{
                margin-bottom: 20px;
                width: 80px;
            }
        }

    }

    .home_header{
        background: url("../../images/background.jpg");
        background-position:center;
        background-repeat:none;
        background-size: cover;
        background-color: #1d55cc;
        color:white;
        /*padding:20px 0;*/
    }



    .phone {
        height:400px;
        /*width: 100%;*/
    }

    .header-content{
        text-align: center;
        padding:30px 0;
    }


    #ultimate{
        font-size:24pt;
    }

    #updated{

    }
    .divider{
        width:100%;
        height: .6px;
        background-color: white;
        margin:8px 0;
    }
    button{

    }

    .download{
        margin: 10px 0;

        .apk{
            background-color:white;
            color:#1D55C6;
            width: 100px;
        height: 38px;
        font-size:10pt;
        font-weight: 500;
        padding:8px;
        }

        .sign_in{
            border:1px solid white;
            color:white;
            margin-left: 10px;
            width: 100px;
        height: 38px;
        font-size:10pt;
        font-weight: 500;
        padding:8px;
        }
    }

    .download_dialog{
        padding:20px 40px;



        .links{
            text-align: center;
        }
    }



    .google-play{
        width: 145px;
    }

    .phone-container-1{
        display: none;
    }
    .phone-container-2{
        display: show;
    }

    #caption{
        font-weight: 400;
    }

    .footer{
        /*background-color: #222;*/
        color: rgba(255,255,255,0.5);
        padding: 40px;
        text-align:center;
    }

    @media only screen and (min-width: 600px){
        .features  .feature.theme--light.v-sheet:last-of-type{
            margin: 0 auto;
            padding: 40px;
        }

    }

    @media only screen and (min-width: 768px){
        .features  .feature.theme--light.v-sheet{
            max-width: 340px;
        }

        .header-content{
            text-align: left;
            margin-left:20px;
        }

        .header-content-titles{
            padding-left:20px;
        }

        .phone {
            height:300px;
            /*width: 100%;*/
        }

        .phone-container-1{
            display: inline;
        }

        .phone-container-2{
            display: none;
        }

        .download{
            margin: 10px 0;

        .apk{
            width: 110px;
            height: 40px;
            font-size:11pt;
            font-weight: 600;
        }

        .sign_in{
            margin-left: 10px;
            width: 110px;
            height: 40px;
            font-size:11pt;
            font-weight: 600;
        }
    }
    }

    @media only screen and (min-width: 1264px){
        .phone {
            height:350px;
            /*width: 100%;*/
        }
    }





</style>

<template>
        <div>
            <header class="home_header" dark>
                <navigation></navigation>
                <v-container>
                    <v-layout row align-center justify-center class="header-content">
                        <!--<v-flex xs12 row>-->
                            <div class="phone-container-1" >
                                <img class="phone" src="../../images/phone_mockup.png" alt="">
                            </div>
                            <div class="header-content-titles">
                                <!--<h4 id="ultimate">The ultimate app</h4>-->
                                <h4 id="updated">The ultimate app <br> That keeps you updated</h4>
                                <!--<div class="divider"></div>-->
                                <!--<v-divider dark></v-divider>-->
                                <!--<h5 id="">Don't hesitate get it today!</h5>-->
                                <div class="download">
                                    <!--<a href="">-->
                                        <!--<img class="google-play" src="../../images/google_play.png" alt="">-->
                                    <!--</a>-->
                                    <button class="apk" @click="downloadDialog=true">
                                        Download
                                    </button>
                                    <router-link :to="{ name: 'sign-in'}"><button class="sign_in">Sign in</button></router-link>

                                    <!--<v-btn color="#4CAF50" class="download" dark>Download APK</v-btn>-->
                                    <!--<v-btn color="" class="download" dark>Google Play</v-btn>-->
                                </div>
                                <p id="caption">Restricted to Polytechnic Students</p>
                            </div>
                        <!--</v-flex>-->
                        <v-dialog
                                v-model="downloadDialog"
                                max-width="400px"
                        >
                            <v-card class="download_dialog">
                                <v-system-bar lights-out></v-system-bar>
                                <div>
                                    <h4 class="headline">About the App</h4>
                                </div>
                                <div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A blanditiis commodi deleniti dignissimos ea eaque earum esse minima molestiae necessitatibus numquam perferendis, quas quisquam rem similique tempore tenetur? Fugiat, labore!</p>
                                </div>
                                <v-card-text class="links">
                                    <div>
                                        <a href="#">
                                            <img class="google-play" src="../../images/google_play.png" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#">Download Apk</a>
                                    </div>
                                </v-card-text>

                            </v-card>
                        </v-dialog>
                    </v-layout>
                </v-container>

            </header>


            <!--<div class="phone-container-2">-->
                <!--<v-container grid-list-md text-xs-center>-->
                    <!--<v-layout row align-center justify-center>-->
                        <!--&lt;!&ndash;<v-flex row xs12 >&ndash;&gt;-->
                            <!--<img class="phone" src="../../images/phone.svg" alt="">-->
                        <!--&lt;!&ndash;</v-flex>&ndash;&gt;-->
                    <!--</v-layout>-->
                <!--</v-container>-->
            <!--</div>-->

            <div class="features">
                <v-container grid-list-md text-xs-center>
                    <v-layout row wrap align-center justify-center>
                        <v-flex text-xs-center xs12>
                            <h3 class="">Features</h3>
                            <h4 class="">Get the following features on the go!</h4>
                        </v-flex>
                    </v-layout>

                    <v-layout row wrap align-center justify-center>
                        <!--<v-card flat tile class="d-flex">-->
                        <v-flex text-xs-center xs12 sm6 md4 >
                             <v-card flat class="feature " >
                                 <img src="../../images/news.svg" alt="">
                                <!--<h5 class="">News</h5>-->
                                <p class="">Get the latest communication around campus</p>
                             </v-card>
                        </v-flex>
                        <!--</v-card>-->

                        <!--<v-card flat tile class="d-flex">-->
                        <v-flex text-xs-center xs12 sm6 md4 >
                             <v-card flat class="feature " >
                                 <img src="../../images/polls.svg" alt="">
                                <!--<h5 class="">Polls</h5>-->
                                <p class="">Get to speak your mind and heart through polls</p>
                             </v-card>
                        </v-flex>
                        <!--</v-card>-->

                        <!--<v-card flat tile class="d-flex">-->
                        <v-flex text-xs-center xs12 sm6 md4 >
                             <v-card flat class="feature " >
                                 <img src="../../images/location.svg" alt="">
                                <!--<h5 class="">Location</h5>-->
                                <p  class="">Get to know where events are happening around the school</p>
                             </v-card>
                        </v-flex>
                        <!--</v-card>-->


                    </v-layout>
                </v-container>
                <div
                        class="pa-3 footer"

                >
                    <!--<v-spacer></v-spacer>-->
                    <div>Pa Porters {{ new Date().getFullYear() }}</div>
                </div>
            </div>

        </div>
</template>

<script>
    import Navigation from '../components/global/Navigation.vue';


    export default {
        data: () => ({
            downloadDialog:false

        }),

        created() {
        },
        components:{
            Navigation
        },
        /*
          Defines the computed properties on the component.
        */
        computed: {

        }
    }

</script>