<style xmlns:v-if="http://www.w3.org/1999/xhtml" lang="scss">

    .owl-carousel{
        -ms-touch-action: none;
        touch-action: none;
    }


    .view{
        /*margin-top: 59px;*/
    }

    .main-container {
        /*transition: transform 0.3s;*/
    }
    .main-container.open {
        /*transform: translateX(-180px);*/
        position:fixed;
    }

    .header{
        background: url("../../images/background_variant.jpg");
        background-position:center;
        background-repeat:none;
        background-size: cover;
        /*background-color: #1d55cc;*/
        color:white;
        /*height: 500px;*/
        background-color: #0f1735;


    .header-content{
        padding:60px 20px 80px 20px;
        transition: all 0.3s;
    }

        h4{
            /*text-align: center;*/
            font-weight:400;
        }
    }

    header {
        h4{
            font-size: 24pt;
            /*font-weight: lighter;*/
        }
        h5{
            margin-top:20px;
            font-size:20pt;

        }
        h6, .roles{
            font-weight: 400;
            font-size:12pt;
        }
        p{
            font-size: 12pt;
        }
    }

    .empty_state img{
        width: 150px;
    }
    .empty_state p{
        font-size: 12pt;
        font-weight: 500;
        color: #555555;
    }

    @media only screen and (min-width: 576px) {
        header {
            h4{
                font-size: 26pt;
            }
            h5{
                font-size:24pt;

            }
             h6, .roles{
                font-size:14pt;
            }
            p{
                font-size: 14pt;
            }
        }
        .empty_state img{
            width: 170px;
        }
        .empty_state p{
            font-size: 13pt;
        }

    }

    @media only screen and (min-width: 768px) {
        header {
            h4{
                font-size: 28pt;
            }

            h5{
                font-size:26pt;

            }
             h6, .roles{
                font-size:16pt;
            }
            p{
                font-size: 16pt;
            }
        }
        .header {
            .header-content {
                padding: 90px 20px 140px 20px;
            }
        }
        .empty_state img{
            width: 200px;
        }
        .empty_state p{
            font-size: 14pt;
        }

    }
    @media only screen and (min-width: 960px) {
        header {
            h4{
                font-size: 30pt;
            }
            p{
                font-size: 18pt;
            }
            h6, .roles{
                font-size:16pt;
            }
        }
        .header {
            .header-content {
                padding: 110px 20px 160px 20px;
            }
        }
        .empty_state img{
            width: 250px;
        }
        .empty_state p{
            font-size: 15pt;
        }
    }
    @media only screen and (min-width: 1264px) {
        .header {
            .header-content {
                padding: 130px 20px 180px 20px;
            }
        }
        .empty_state img{
            width: 300px;
        }
        .empty_state p{
            font-size: 16pt;
        }

    }

</style>

<template>
    <v-app>
        <!--<navigation-->
                <!--:user="user"-->
                <!--:userStatus="userStatus"-->
                <!--@logout="logoutUser"-->

        <!--&gt;</navigation>-->
        <div class="main-container">


            <div class="view">
                <router-view></router-view>
            </div>

        </div>


        <v-snackbar
                v-model="snackbar"
                color="primary"
        >
            {{snackbarMessage}}
        </v-snackbar>
    </v-app>
</template>

<script>
//    import Navigation from '../components/global/Navigation.vue';


    export default {
        data: () => ({
            snackbar:false,
            snackbarMessage:'',
            drawer: null,
            dialog: false,
            role:null

        }),
        components: {
        },
        beforeCreate(){
            /*
            *if the user was stored before then load the user with a new token
            */
//            if (this.$store.getters.getGoogleId){
//                this.$store.dispatch( 'loadUser',{} );
//            }
        },
        created(){



        },
        mounted(){

        },
//        setting new token
        computed: {
            /*
            * Gets the user load status
            */
            userStatus:function(){
                return this.$store.getters.getUserLoginStatus;
            },

            /*
            * Gets the user with the updated token
            */
            user:function () {
                return this.$store.getters.getUser;
            },

            /*
            * Dispatches the programs
            */
//            programs:function () {
//                return this.$store.dispatch('loadPrograms',{accessToken: this.$store.getters.getAccessToken});
//            },
//            /*
//            * Dispatches the boards
//            */
//            boards:function () {
//                return this.$store.dispatch('loadBoards',{accessToken: this.$store.getters.getAccessToken});
//            },
        },
        watch:{
            userStatus:function () {
                switch (this.$store.getters.getUserLoginStatus){
                    case 1:
                        this.snackbarMessage="Logging in.";
                        break;
                    case 2:
                        this.snackbarMessage="Successfully logged in.";
                        this.$router.push('/');
                        break;
                    case 3:
                        this.snackbarMessage="Failed to log in.";
                        break;
                    case 4:
                        this.snackbarMessage="Failed to log in.";
                        break;
                    case 5:
                        this.snackbarMessage="Logged out.";
                        break;
                    default:
                        break;
                }
                this.snackbar=true;
            }
        },

        methods:{
            //logs out out the user
            logoutUser(){
                this.closeNav();
                this.$store.dispatch('logoutUser');
                this.$store.dispatch('clearBoards');
                this.$store.dispatch('clearPrograms');
                localStorage.removeItem('vuex');
                return this.$router.push('/');
            },

            openNav(){
                $('nav').addClass('open');
                $('.main-nav').addClass('open');
//                $('.main-container').addClass('open');
            },
            closeNav(){
                $('nav').removeClass('open');
                $('.main-nav').removeClass('open');
//                $('.main-container').removeClass('open');
            }
        }

    }
</script>