<style>
  .create_notice{
    /*background-color: black;*/
    height: 100vh;

  }

</style>

<template>
  <v-layout
          class="create_notice header"
          row
          justify-center

          align-center
          wrap
  >
    <v-container>
      <v-card flat>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <h3 class="headline mb-0 grey--text">Create notice</h3>
              </v-flex>
              <v-flex xs12 sm6>
                <v-text-field
                        v-model="title"
                        label="Title"
                        counter
                        maxlength="40"
                        required
                        :rules="[rules.required]"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6>
                <v-select
                        v-model="selectedBoard"
                        label="Board"
                        :items="boards"
                        item-text="title"
                        item-value="id"
                        attach
                        menu-props="auto,false"
                ></v-select>
              </v-flex>
              <v-flex xs12>
                <ckeditor :editor="editor" v-model="editorData" :config="editorConfig">
                </ckeditor>
              </v-flex>
              <v-flex xs12 sm6 d-flex>
                <v-switch
                        color="primary"
                        label="Featured"
                        v-model="featured"
                ></v-switch>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <upload-image
                  :fileChangedCallback="imageChanged"
                  @file-update="imageChanged"
                  title="Select Image"
                  color="primary"

          >
          </upload-image>
          <v-spacer></v-spacer>

          <v-btn flat color="primary" :to="{'name':'boards'}">Cancel</v-btn>
          <v-btn :disabled="!validation" color="blue darken-1" flat @click="newNotice">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-container>
    <v-snackbar
            v-model="snackbar"
            color="primary"
    >
      {{snackbarMessage}}
    </v-snackbar>
  </v-layout>
</template>

<script>
  import ClassicEditor from '@ckeditor/ckeditor5-build-classic'
  import UploadImage from 'vuetify-upload-button'



  export default {
      data:()=>({
          editor:ClassicEditor,
          editorData:'',
          editorConfig:{
             toolbar:['bold','italic','|','bulletedList','numberedList','|','undo','redo']
          },

          title:'',
          body:'',
          featured:false,
          image:'',
          selectedBoard:1,
          rules: {
              required: value => value!=='' || 'Cannot be empty',
          },
          snackbar:false,
          snackbarMessage:'',
      }),
      items:[],
      created(){
              this.items=[{
                  text:'Boards',
                  disabled:false,
                  href:'/#/boards'
              },{
                  text:'Create Notice',
                  disabled:true,
              }]
      },
      components:{
          'upload-image':UploadImage,
      },
      computed:{
          boards(){
              return this.$store.getters.getBoards;
          },
          noticeLoadStatus:function(){
              return this.$store.getters.getNoticeLoadStatus;
          },
          validation(){
              return !(this.title === ''|| this.title.length<4 || this.editorData === '' || this.editorData < 4);
          },

      },
      watch:{
          noticeLoadStatus:function () {
              switch (this.$store.getters.getNoticeLoadStatus){
                  case 1:
                      this.snackbarMessage="Posting notice";
                      break;
                  case 2:
                      this.snackbarMessage="Posted successfully.";
                      this.$router.push('/boards');
                      break;
                  case 3:
                      this.snackbarMessage="Posting was unsuccessful.";
                      break;
                  case 4:
                      this.snackbarMessage="Posting was unsuccessful. Check your connection.";
                      break;
                  default:
                      break;
              }
              this.snackbar=true;
          }
      },
      methods:{
          imageChanged(file){
              const reader=new FileReader();
              reader.readAsDataURL(file);
              reader.onload=(e)=>{
                  this.image=e.target.result;
                  console.log(e.target.result);
              };
          },
          newNotice(){
//              console.log({
//                  title:this.title,
//                  body:this.body,
//                  board_id:this.selectedBoard,
//                  featured:this.featured,
//                  accessToken:this.$store.getters.getAccessToken
//              });
              this.$store.dispatch('newNotice',{
                  title:this.title,
                  body:this.editorData,
                  board_id:this.selectedBoard,
                  featured:this.featured?1:0,
                  image:this.image,
                  accessToken:this.$store.getters.getAccessToken
              });
          }
      }

  }
</script>