<style xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  .create_poll{
    height: auto;
  }
</style>

<template>

  <v-layout
          class="create_poll header"
          row
          justify-center

          align-center
          wrap
  >
    <v-container>
    <!--<v-dialog v-model="dialog" persistent max-width="600px">-->


      <v-card>
        <!--<v-card-title text-xs-center>-->
          <!--<span class="headline" >Create Poll</span>-->
        <!--</v-card-title>-->
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <h3 class="headline mb-0 grey--text">Create poll</h3>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                        v-model="title"
                        label="Title"
                        counter
                        maxlength="50"
                        required
                        :rules="[rules.required]"
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-textarea
                        v-model="description"
                        label="Description"
                        required
                        :rules="[rules.required]"
                ></v-textarea>
              </v-flex>
              <v-flex xs12 sm6>
                <v-date-picker
                        v-model="start"

                >
                </v-date-picker>
              </v-flex>
              <v-flex xs12 sm6>
                <v-date-picker
                        v-model="end"

                >
                </v-date-picker>
              </v-flex>
              <!--It will always be generic from now on-->
              <!--<v-flex xs12>-->
                <!--<v-radio-group v-model="type">-->
                  <!--<v-flex xs6><v-radio label="Generic" value="0"></v-radio></v-flex>-->
                  <!--<v-flex xs6><v-radio label="Electoral" value="1"></v-radio></v-flex>-->
                <!--</v-radio-group>-->
              <!--</v-flex>-->
              <v-flex  v-if="type=='0'">
                <v-flex xs12>
                  <v-text-field v-model="option" placeholder="Enter a new option" label="Option" clearable @keyup.enter="addOption">
                  </v-text-field>
                </v-flex>
                <v-flex xs12 v-if="options.length>0">
                  <v-chip v-for="(option,index) in options" :key="index" close  @input="options.splice(index,1)">
                    {{option}}
                  </v-chip>
                </v-flex>
              </v-flex>

              <!--For electoral option-->

              <!--<v-flex sm12 v-if="type=='1'">-->
                <!--<v-text-field-->
                        <!--v-model="search"-->
                        <!--label="Search Students"-->
                        <!--:rules="[rules.counter]"-->
                        <!--minlength="4"-->
                        <!--flat-->
                        <!--prepend-inner-icon="search"-->
                        <!--@keyup.enter="searchStudents"-->
                <!--&gt;</v-text-field>-->
              <!--&lt;!&ndash;</v-flex>&ndash;&gt;-->
              <!--&lt;!&ndash;<v-flex&ndash;&gt;-->
                      <!--&lt;!&ndash;v-show="candidateLoadStatus==2"&ndash;&gt;-->
                      <!--&lt;!&ndash;sm12&ndash;&gt;-->
                      <!--&lt;!&ndash;md4&ndash;&gt;-->
              <!--&lt;!&ndash;&gt;&ndash;&gt;-->
                <!--<v-autocomplete-->
                        <!--v-model="student"-->
                        <!--:items="students"-->
                        <!--chips-->
                        <!--color="blue-grey lighten-2"-->
                        <!--label="Select Student"-->
                        <!--item-text="name"-->
                        <!--item-value="google_id"-->
                        <!--attach-->
                        <!--return-object-->
                        <!--v-if="students.length>0"-->
                <!--&gt;-->
                  <!--<template-->
                          <!--slot="selection"-->
                          <!--slot-scope="data"-->
                  <!--&gt;-->
                    <!--<v-chip-->
                            <!--:selected="data.selected"-->
                            <!--close-->
                            <!--@input="remove(data.item)"-->
                    <!--&gt;-->
                      <!--<v-avatar>-->
                        <!--<img :src="data.item.avatar">-->
                      <!--</v-avatar>-->
                      <!--{{ data.item.name}}-->
                    <!--</v-chip>-->
                  <!--</template>-->
                  <!--<template-->
                          <!--slot="item"-->
                          <!--slot-scope="data"-->
                  <!--&gt;-->
                    <!--<template>-->
                      <!--<v-list-tile-avatar>-->
                        <!--<img :src="data.item.avatar">-->
                      <!--</v-list-tile-avatar>-->
                      <!--<v-list-tile-content>-->
                        <!--<v-list-tile-title v-html="data.item.name"></v-list-tile-title>-->
                        <!--&lt;!&ndash;<v-list-tile-sub-title v-html="data.item.roles.data[0]"></v-list-tile-sub-title>&ndash;&gt;-->
                      <!--</v-list-tile-content>-->
                    <!--</template>-->
                  <!--</template>-->
                <!--</v-autocomplete>-->
                <!--<v-flex xs12 v-if="selectedStudents.length>0">-->
                  <!--<v-chip v-for="(selectedStudent,index) in selectedStudents" :key="index" close  @input="selectedStudents.splice(index,1)">-->
                    <!--<v-avatar>-->
                      <!--<img :src="selectedStudent.avatar">-->
                    <!--</v-avatar>-->
                    <!--{{selectedStudent.name}}-->
                  <!--</v-chip>-->
                <!--</v-flex>-->
              <!--</v-flex>-->
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat dark color="primary" :to="{'name':'polls'}">Cancel</v-btn>
          <v-btn :disabled="!validation" color="blue darken-1" flat @click="newPoll">Save</v-btn>
        </v-card-actions>
      </v-card>
    <!--</v-dialog>-->
    <v-snackbar
            v-model="snackbar"
            color="primary"
    >
      {{snackbarMessage}}
    </v-snackbar>
    </v-container>
  </v-layout>
</template>

<script>
  import ClassicEditor from '@ckeditor/ckeditor5-build-classic'


  export default {
      data:()=>({
          dialog: false,
          title:'',
          description:'',
          type:'0',
          start:'',
          end:'',

          rules: {
              required: value => value!=='' || 'Cannot be empty',
          },
          snackbar:false,
          snackbarMessage:'',

          student:null,
          selectedStudents:[],
          search:'',

          option:'',
          options:[],
          items:[],

      }),
      created(){
          this.start=new Date().toISOString().substring(0,10);
          this.end=new Date().toISOString().substring(0,10);

          this.items=[{
              text:'Polls',
              disabled:false,
              href:'/#/polls'
          },{
              text:'Create Poll',
              disabled:true,
          }]
      },
      computed:{
          pollLoadStatus:function(){
              return this.$store.getters.getPollLoadStatus;
          },
          validation(){
              if(this.title === ''|| this.title.length<4 || this.editorData === '' || this.editorData < 4 || this.startDate>this.endDate)
                  return false
              else if(this.type==='0'&& this.options.length===0)
                  return false
              else if(this.type==='1'&& this.selectedStudents.length===0)
                  return false
              else if(this.pollLoadStatus===1)
                  return false
              else
                  return true

          },
          students:function () {
              return this.$store.getters.getStudents;
          },
          startDate:function () {
              return (new Date(this.start).getTime())/1000
          },
          endDate:function () {
              return (new Date(this.end).getTime())/1000
          },
          correctedType:function () {
              return this.type==='0'?0:1
          }


      },
      watch:{
          pollLoadStatus:function () {
              switch (this.$store.getters.getPollLoadStatus){
                  case 1:
                      this.snackbarMessage="Posting poll";
                      break;
                  case 2:
                      this.snackbarMessage="Posted successfully.";
                      this.$router.push('/polls')
                      break;
                  case 3:
                      this.snackbarMessage="Posting was unsuccessful.";
                      break;
                  default:
                      break;
              }
              this.snackbar=true;
          },
          student:function () {
              if (this.student!==null){
                  this.selectedStudents.push(this.student)
              }
          }

      },
      methods:{
          remove (item) {
              return this.student=null
          },
          newPoll(){
//              console.log({
//                  title:this.title,
//                  description:this.description,
//                  options:this.correctedType?this.selectedStudents:this.options,
//                  start_date:this.startDate,
//                  end_date:this.endDate,
//                  type:this.correctedType,
//                  accessToken:this.$store.getters.getAccessToken
//              });
              this.$store.dispatch('newPoll',{
                  title:this.title,
                  description:this.description,
                  options:this.correctedType?this.selectedStudents:this.options,
                  start_date:this.startDate,
                  end_date:this.endDate,
                  type:this.correctedType,
                  accessToken:this.$store.getters.getAccessToken
              });
          },

          searchStudents(){
              if((this.search).length>=4){
                  this.student=null;
//                  this.selectedStudents=[];
                  this.$store.dispatch('loadStudents',{
                      text:this.search,
                      accessToken:this.$store.getters.getAccessToken
                  })
              }
          },

          addOption(){
              this.options.push(this.option);
              this.option='';
          }
      }

  }
</script>