<style>
  .poll-card.theme--light.v-sheet{
    padding: 20px;
    background-color: white;
    border: 2px solid #eceff1;
    border-radius:6px;
    /*width: 400px;*/
    margin:10px;

    
    .information .date{
      float: right;
    }
  }
  /*.poll{*/
  div.v-progress-linear{
    margin:0;
  }

  div.v-list__tile.theme--light{
    padding:0;
  }
  /*}*/

  .poll .container{
    background-color: white;
  }
  .poll .layout{
    background-color: white;
  }


  .board{
    /*max-width: 200px;*/
  }

  .poll-type{
    color:#1d55cc;
    font-weight:bold;
  }

</style>

<template>
  <div>
    <header

            class="header"


    >
      <navigation></navigation>
      <v-container>
        <v-layout row align-center justify-center wrap class="header-content">
          <v-flex xs12 class="">
            <h4>Polls</h4>
            <p>Get to speak your mind and heart through polls</p>
          </v-flex>
        </v-layout>
      </v-container>

    </header>


        <v-layout
                row wrap
                justify-center
                class="poll"
        >
          <v-container grid-list-sm fluid>
            <v-layout row wrap>
              <poll
                      v-for="(poll ,index) in polls"
                      :key="poll.id"
                      :index="index"
                      :poll="poll"
                      v-if="polls.length>0"
              ></poll>
            </v-layout>
          </v-container>
          <v-layout
                  row
                  wrap
                  v-if="polls.length==0 && pollsLoadStatus==2"
          >
            <v-flex class="empty_state" text-xs-center>
              <img  src="../../images/notices.svg" alt="">
              <p>No polls found</p>
            </v-flex>
          </v-layout>
          <v-flex xs12 text-xs-center v-show="morePages && pollsLoadStatus==2">
            <v-btn color="primary" @click="loadMore" class="">Load More</v-btn>
          </v-flex>
          <v-flex text-xs-center xs12>
            <v-progress-circular
                    indeterminate
                    color="primary"
                    v-show="pollsLoadStatus==1"
            >
            </v-progress-circular>
          </v-flex>
        </v-layout>
        <v-btn
                v-show="getAdmin || getAuthor"
                color="primary"
                dark
                fixed
                bottom
                right
                fab
                slot="activator"
                :to="{ name: 'create-poll'}"
        >
          <v-icon>add</v-icon>
        </v-btn>
      <!--</v-container>-->
    <v-snackbar
            v-model="snackbar"
            color="primary"
    >
      {{snackbarMessage}}
    </v-snackbar>
  </div>
</template>

<script>
  import Poll from '../components/Poll.vue'
//  import Subscribed from '../components/SubscribedBoard.vue'
import Navigation from '../components/global/Navigation.vue';

  export default {
      data () {
          return {
              now:0,
              items:[{
                  text:'Polls',
                  disabled:true
              }],
              snackbar:false,
              snackbarMessage:'',
              page:1
          }
      },
      components:{
          Navigation,Poll
      },
      created(){
          /*
           * Dispatches the programs
           */
//          this.$store.dispatch('loadPrograms',{accessToken: this.$store.getters.getAccessToken});

          /*
          * Dispatches the boards
          */
          this.$store.dispatch('loadPolls', {
              page:1,
              accessToken: this.$store.getters.getAccessToken
              });

          this.now=new Date().getTime();

      },
      computed:{
          polls(){
              return this.$store.getters.getPolls;
          },
          pollsLoadStatus:function () {
              return this.$store.getters.getPollsLoadStatus;
          },
          morePages:function () {
              return this.$store.getters.getMorePollsPages;
          },
          getAdmin:function () {
              return this.$store.getters.getAdmin;
          },
          getAuthor:function () {
              return this.$store.getters.getAuthor;
          },
      },
      watch: {
          pollsLoadStatus: function () {
              switch (this.pollsLoadStatus) {
                  case 1:
                      this.snackbarMessage = "Loading polls";
                      break;
                  case 2:
                      this.snackbarMessage = "Polls loaded successfully.";
                      break;
                  case 3:
                      this.snackbarMessage = "Polls failed to load.";
                      break;
                  case 4:
                      this.snackbarMessage = "Polls failed to load.";
                      break;
                  default:
                      break;
              }
//              this.snackbar = true;
          },
          page:function () {
              this.$store.dispatch('loadPolls',{
                  page:this.page,
                  accessToken:this.$store.getters.getAccessToken
              });
          }
      },
      methods:{
          loadMore(){
              this.$store.dispatch('appendPolls',{
                  accessToken:this.$store.getters.getAccessToken
              });
          }
      }
  }
</script>