<style lang="scss">

  .sign-in{
    /*padding-top: 40px;*/
    height: 100vh;
  }
  /*.sign-in-card*/ div.sign-in-card.theme--light.v-sheet{
      padding: 40px;
      background-color: white;
      border: 2px solid #eceff1;
      border-radius:6px;
      max-width: 400px;
      /*min-width: 20px;*/
      margin:auto;

    h3{
      text-align: center;
      /*font-weight:600;*/
      /*color: #1d55cc;*/
    }

  }

  .sign-in-logo{
  width:100%;
  /*padding:20px;*/

    img{
      width:80px;
      margin:auto;
    }

  }
  .google_btn{
    cursor: pointer;
  /*  height: 50px;
    width:50px;
    background-position:center;
    background-repeat:none;
    background: url("../../images/btn_google_normal.svg");
    display: inline-block;*/
  }

  .google_btn:hover{
    background: url("../../images/btn_google_focus.svg");
  }

  .google_btn:active{
    background: url("../../images/btn_google_pressed.svg");
  }
</style>

<template>
  <div class="header">
  <v-container>
  <v-layout
          class="sign-in"
          row
          justify-center

          align-center
          wrap
  >
    <!--<v-flex xs12>-->

    <!--</v-flex>-->
    <v-flex xs12   text-xs-center>
      <v-card class="sign-in-card" >
        <div class="sign-in-logo">  <router-link :to="{ name: 'home'}"> <img  src="../../images/logo_colour.svg" alt=""></router-link></div>
        <div >
          <v-card-text primary-title>
            <div><h3 class="headline mb-0">Sign in to your account</h3></div>
            <p>Only Polytechnic Students can sign in</p>
            <!--<v-btn @click="forceLogin">Force Login</v-btn>-->
          </v-card-text>
          <!--<v-card-text>-->
            <!--<div>-->
              <!--<p>Use your school email to sign in-->
                <!--<br>-->
                <!--<b>Only Polytechnic Students can sign in</b></p>-->
            <!--</div>-->
          <!--</v-card-text>-->
          <div>
            <g-signin-button
                    :params="googleSignInParams"
                    @success="onSignInSuccess"
                    @error="onSignInError">
              <img class="google_btn" src="../../images/btn_google_normal.svg"/>
            </g-signin-button>
          </div>
        </div>
      </v-card>
    </v-flex>
    <v-snackbar
            v-model="snackbar"
            color="primary"
    >
      {{snackbarMessage}}
    </v-snackbar>
  </v-layout>
  </v-container>
  </div>
</template>

<script>
    import Vue from 'vue'
    import GSignInButton from 'vue-google-signin-button'
    Vue.use(GSignInButton);

  export default {
      data () {
          return {
              /**
               * The Auth2 parameters, as seen on
               * https://developers.google.com/identity/sign-in/web/reference#gapiauth2initparams.
               * As the very least, a valid client_id must present.
               * @type {Object}
               */
              googleSignInParams: {
                  client_id: '499781986537-j45asi8r3k3msg39t382i9bon1nlo7h0.apps.googleusercontent.com'
              },
              snackbar:false,
              snackbarMessage:'',
          }
      },
      methods:{
//          forceLogin(){
//              this.$store.dispatch('loadLogin',{
//                  google_id:'114990857041833855739'
//              });
//          },
          //google sign in
          onSignInSuccess (googleUser) {
              // `googleUser` is the GoogleUser object that represents the just-signed-in user.
              // See https://developers.google.com/identity/sign-in/web/reference#users
              const user = googleUser.getBasicProfile();

              if (this.$store.getters.userLoadStatus!==2 ||this.$store.getters.userLoadStatus===null){
                  this.$store.dispatch('loadLogin',{
                      google_id:user.getId(),
                      name:user.getName(),
                      email:user.getEmail(),
                      avatar:user.getImageUrl(),
                      google_token:googleUser.getAuthResponse().id_token
                  });
              }

          },
          onSignInError (error) {
              // `error` contains any error occurred.
              this.snackbar=true;
              this.snackbarMessage='Sign in popup closed.'
          }
      }

  }
</script>