<style>
  .trashed_notices{
    margin: 40px 0;
  }
  .trashed_notices table{
    border-collapse: collapse;
    width: 100%;
  }


  .trashed_notices td{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding: 8px;
  }
  .trashed_notices th{
    padding: 8px;
    width:400px;
  }

  .trashed_notices tr:nth-child(even){
    background-color: #eeeeee;
  }

  .trashed_notices tr:hover{
    /*background-color: #ddd;*/
  }

  .trashed_notices th{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
  }




</style>

<template>
<div>
  <header

          class="header"

  >
    <navigation></navigation>
    <v-container>
      <v-layout row align-center justify-center wrap class="header-content">
        <v-flex xs12 class="">
          <h4>Trashed Notices</h4>
          <p>Restore or remove notices previously trashed</p>
        </v-flex>
      </v-layout>
    </v-container>

  </header>

  <v-layout
          row
          wrap
          justify-center
          align-center
          class="trashed_notices"
          v-show="trashedNotices.length>0"
  >
    <v-container
            fluid
            grid-list-md>
      <!--<v-card flat text>-->

      <v-flex xs12>
        <table >
          <tr>
            <th>Title</th>
            <!--<th>Body</th>-->
            <!--<th>Board</th>-->
            <!--<th>Author</th>-->
            <!--&lt;!&ndash;<th>Featured</th>&ndash;&gt;-->
            <!--<th>Updated Date</th>-->
            <th>Actions</th>
          </tr>
          <trashed-notice
                  v-for="(trashedNotice,index) in trashedNotices"
                  :key="trashedNotice.id"
                  :trashedNotice="trashedNotice"
                  :index="index"
                  :action="action"
          ></trashed-notice>

        </table>
      </v-flex>

      <v-flex xs12 text-xs-center v-show="morePages && trashedNoticesLoadStatus==2">
        <v-btn color="primary" @click="loadMore" class="">Load More</v-btn>
      </v-flex>

      <!--</v-card>-->
    </v-container>
  </v-layout>
  <v-layout
          row
          wrap
          v-show="trashedNotices.length==0 && trashedNoticesLoadStatus==2"
  >
    <v-container>
      <v-flex class="empty_state" text-xs-center>
        <img  src="../../images/notices.svg" alt="">
        <p>No trashed notices</p>
      </v-flex>
    </v-container>
  </v-layout>
</div>
    <!--<v-layout-->
            <!--row-->
            <!--wrap-->
            <!--v-if="noticeLoadStatus==1"-->
    <!--&gt;-->
      <!--<v-flex text-xs-center>-->
        <!--<v-progress-circular-->
                <!--indeterminate-->
                <!--color="primary"-->
        <!--&gt;-->
        <!--</v-progress-circular>-->
      <!--</v-flex>-->
    <!--</v-layout>-->


</template>

<script>
    import TrashedNotice from '../components/TrashedNotice.vue'
    import Navigation from '../components/global/Navigation.vue';

    export default {

        data: () => ({
            action:'',

        }),
        created(){
            this.$store.dispatch('loadTrashedNotices',{
                accessToken:this.$store.getters.getAccessToken
            });
        },
        components: {
            'trashed-notice':TrashedNotice,Navigation
        },
        computed:{
            trashedNotices:function () {
                return this.$store.getters.getTrashedNotices;
            },
            trashedNoticesLoadStatus:function () {
                return this.$store.getters.getTrashedNoticesLoadStatus;
            },
            morePages:function () {
                return this.$store.getters.getMorePages;
            }
        },
        methods:{
            loadMore(){
                this.$store.dispatch('appendTrashedNotices',{
                    accessToken:this.$store.getters.getAccessToken
                });
            }
        }
    }
</script>