<style>
  .update_notice{
    height: auto;
  }




</style>

<template>
  <!--<div >-->

      <!--<v-container>-->
    <!--class="header" style="height: 100%"-->

      <v-layout
              class="update_notice header"
              row
              justify-center

              align-center
              wrap
      >
        <!--<navigation></navigation>-->

        <v-container>
      <v-card>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <h3 class="headline mb-0 grey--text">Update notice</h3>
              </v-flex>
              <v-flex xs12 sm6>
                <v-text-field
                        v-model="notice.title"
                        label="Title"
                        counter
                        maxlength="40"
                        required
                        :rules="[rules.required]"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6>
                <v-select
                        v-if="noticeLoadStatus===2 && boards.length>0"
                        v-model="notice.board.id"
                        label="Board"
                        :items="boards"
                        item-text="title"
                        item-value="id"
                        attach
                        menu-props="auto,false"
                ></v-select>
              </v-flex>
              <v-flex xs12>
                <ckeditor :editor="editor" v-model="notice.body" :config="editorConfig">
                </ckeditor>
              </v-flex>
              <v-flex xs12 sm6 d-flex>
                <v-switch
                        color="primary"
                        label="Featured"
                        v-model="notice.featured"
                ></v-switch>
              </v-flex>
              <v-flex xs12 class="notice_image">
                <img v-if="image==''" :src="notice.image" alt="">
                <img v-else :src="image" alt="">
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <upload-image
                  ref="button"
                  :fileChangedCallback="imageChanged"
                  @file-update="imageChanged"
                  title="Image"
                  color="primary"

          >
            <template slot="icon-left">
              <v-icon left>add_a_photo</v-icon>
            </template>

          </upload-image>
          <v-btn flat v-show="image!=''" class="elevation-0" color="error" @click="clear">Remove Photo</v-btn>
          <v-spacer></v-spacer>
          <v-btn flat dark color="primary" :to="{'name':'boards'}">Cancel</v-btn>
          <v-btn flat dark color="primary" :disabled="validation" @click="editNotice">Edit</v-btn>
        </v-card-actions>
      </v-card>
        </v-container>
      </v-layout>

  </div>

</template>

<script>
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic'
    import UploadImage from 'vuetify-upload-button'
    import Navigation from "../components/global/Navigation.vue"

    export default {
        props:['slug'],
        data: () => ({
            editor:ClassicEditor,
            editorConfig:{
                toolbar:['bold','italic','|','bulletedList','numberedList','|','undo','redo']
            },
            rules: {
                required: value => value!=='' || 'Cannot be empty',
            },
            image:'',
        }),
        created(){
            this.$store.dispatch('loadNotice',{
                slug:this.slug,
                accessToken:this.$store.getters.getAccessToken
            });
        },
        components: {
            'upload-image':UploadImage, Navigation
        },
        computed:{
            notice:function () {
                return this.$store.getters.getNotice;
            },
            noticeLoadStatus:function () {
                return this.$store.getters.getNoticeLoadStatus;
            },
            noticeUpdateStatus:function () {
                return this.$store.getters.getNoticeUpdateStatus
            },
            boards:function(){
                return this.$store.getters.getBoards;
            },
            validation(){
                if(this.noticeLoadStatus===2)
                  return !(this.notice.title === ''|| this.notice.title.length<4 || this.notice.editorData === '' || this.notice.editorData < 4);
            },
        },
        watch:{
            noticeUpdateStatus: function () {
                switch (this.noticeUpdateStatus) {
                    case 1:
                        break;
                    case 2:
                        this.$router.push({name:'boards'});
                        break;
                    case 3:
                        break;
                    case 4:
                        break;
                    default:
                        break;
                }
            },
        },
        methods:{
            editNotice(){
                this.$store.dispatch('updateNotice',{
                    title:this.notice.title,
                    body:this.notice.body,
                    image:this.image,
                    slug:this.notice.slug,
                    index:this.index,
                    featured:this.notice.featured?1:0,
                    board_id:this.notice.board.id,
                    accessToken:this.$store.getters.getAccessToken,
                });
            },
            imageChanged(file){
                const reader=new FileReader();
                if (file){
                    reader.readAsDataURL(file);
                    reader.onload=(e)=>{
                        this.image=e.target.result;
                    };
                }
            },
            clear() {
                this.$refs.button.clear();
                this.image=''
            }
        }
    }
</script>