<style>
    .user_image{
        background-position:center;
        background-repeat:none;
        background-size: cover;
        height:200px;
        width:200px;
        border-radius: 50%;
    }

    .users {
        padding: 20px;
        background-color:white;
    }
    .user_data h6, .user_data span{
        color: rgba(255,255,255,.5);
    }

    .roles{
        border-right: 1.8px solid rgba(255,255,255,.5);
        padding: 0 10px;
    }
    .roles:last-of-type{
        border-right: 0;
    }


    @media only screen and (min-width: 576px) {
        .roles{
            border-right: 2px solid rgba(255,255,255,.5);
        }

    }

    @media only screen and (min-width: 768px) {
        .user_image{
            height:220px;
            width:220px;
        }
        .roles{
            border-right: 2.2px solid rgba(255,255,255,.5);
        }


    }
    @media only screen and (min-width: 960px) {
        .user_image{
            height:240px;
            width:240px;
        }
        .roles{
            border-right: 2.4px solid rgba(255,255,255,.5);
        }


    }
    @media only screen and (min-width: 1264px) {

    }



</style>

<template>
    <div
            v-if="userStatus == 2"
    >
        <header

                class="header"

        >
            <navigation></navigation>
            <v-container>
                <v-layout row align-center justify-center wrap class="header-content">
                    <div class="user_image" :style="{
                            backgroundImage:`url(${user.avatar})`
                         }"></div>
                    <v-flex xs12 class="text-center user_data" >
                        <h5>{{user.name}}</h5>
                        <h6 v-if="user.program!==null">{{user.program.name}}</h6>
                        <h6>{{user.email}}</h6>
                        <span
                                v-for="(role,index) in user.roles.data"
                                :key="role.id"
                                class="roles"
                        >{{role.name}} </span><br>
                        <v-dialog v-model="dialog" persistent max-width="600px" v-if="user.program!==null">

                            <v-btn slot="activator" color="primary" >Edit <!--<v-icon>edit</v-icon>--></v-btn>
                            <v-card>
                                <v-card-title>
                                    <span class="headline">Edit Profile</span>
                                </v-card-title>

                                <v-card-text>
                                    <v-container grid-list-md>
                                        <v-layout wrap>
                                            <v-flex xs12 sm6>
                                                <v-text-field
                                                        v-model="user.name"
                                                        label="Name"
                                                        disabled
                                                ></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm6>
                                                <v-text-field
                                                        v-model="user.email"
                                                        label="Email"
                                                        disabled
                                                ></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm6 d-flex>
                                                <v-select
                                                        v-model="selectedProgram"
                                                        :hint="`${selectedProgram.name}`"
                                                        :items="selectProgram"
                                                        item-text="code"
                                                        item-value="code"
                                                        label="Select Program"
                                                        persistent-hint
                                                        return-object
                                                        single-line
                                                        attach
                                                        menu-props="auto,false"

                                                ></v-select>
                                            </v-flex>
                                            <v-flex xs12 sm6 d-flex>
                                                <v-select
                                                        v-model="selectedYear"
                                                        label="Year of study"
                                                        :items="selectYear"
                                                        attach
                                                        menu-props="auto,false"
                                                ></v-select>
                                            </v-flex>
                                            <v-flex xs12 sm6>
                                                <v-text-field
                                                        v-model="accountNumber"
                                                        :rules="[rules.number, rules.counter]"
                                                        label="Account Number"
                                                        counter
                                                        maxlength="10"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-container>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="blue darken-1" flat @click="dialog = false">Close</v-btn>
                                    <v-btn :disabled="!validation" color="blue darken-1" flat @click="editUser">Save</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-flex>
                    <v-flex xs12>
                        <v-text-field
                                v-model="search"
                                label="Search"
                                :rules="[rules.search]"
                                minlength="4"
                                prepend-inner-icon="search"
                                @keyup.enter="searchUsers"
                                dark
                        ></v-text-field>
                    </v-flex>
                </v-layout>
            </v-container>

        </header>



        <v-layout row wrap justify-center class="users" v-show="searched" >
            <v-container >
            <!--<v-card xs12  text-xs-center flat>-->
                <!--<v-img-->
                        <!--:src="user.avatar"-->
                        <!--aspect-ratio="1.26"-->
                <!--&gt;</v-img>-->
                <!--<v-card-text>-->
                    <!--<v-flex xs12-->
                    <!--&gt;-->
                        <!--&lt;!&ndash;<v-divider class=""></v-divider>&ndash;&gt;-->

                    <!--</v-flex>-->
                <!--</v-card-text>-->
                <!--<v-card-actions>-->
                    <!--<v-spacer></v-spacer>-->
                    <!--<v-flex>-->
                        <!---->
                    <!--</v-flex>-->
                <!--</v-card-actions>-->

            <!--</v-card>-->
                <!--<v-flex xs12  text-xs-center>-->
                    <!--<v-flex>-->
                        <!--<v-avatar-->
                                <!--class="avatar"-->
                                <!--size="200px"-->
                        <!--&gt;-->
                            <!--<img :src="user.avatar">-->
                        <!--</v-avatar>-->
                    <!--</v-flex>-->

                <!--</v-flex>-->

            <v-flex xs12  v-if="users.length>0" v-show="usersStatus==2" >
                <p class="grey--text">{{users.length}} {{(users.length)===1?'match':'matches'}} found</p>
                <!--<v-list>-->
                <user
                        v-for="user in users"
                        :key="user.id"
                        :user="user"
                        :getAdmin="getAdmin"
                ></user>
                <!--</v-list>-->
            </v-flex>
            <v-flex xs12 class="empty_state" text-xs-center  v-show="usersStatus==5">
                <img  src="../../images/search.svg" alt="">
                <p>Expand the keyword. Results greater than 20.</p>
            </v-flex>
            <v-flex xs12 class="empty_state" text-xs-center  v-show="usersStatus==6">
                <img  src="../../images/search.svg" alt="">
                <p>No results found</p>
            </v-flex>
            <v-flex xs12 class="text-center" v-show="usersStatus==1">
                <v-progress-circular
                        indeterminate
                        color="primary"
                >
                </v-progress-circular>
            </v-flex>
            </v-container>
        </v-layout>

        <v-snackbar
            v-model="snackbar"
            color="primary"
    >
        {{snackbarMessage}}
        <!--<v-btn-->
                <!--dark-->
                <!--flat-->
                <!--@click="snackbar = false"-->
        <!--&gt;-->
            <!--Close-->
        <!--</v-btn>-->
    </v-snackbar>
    </div>
</template>

<script>
    import Navigation from '../components/global/Navigation.vue';
    import User from '../components/User.vue';


    export default {
        data: () => ({
//            selectProgram:[],
//            user:[],
            search:'',
            searched:false,
            selectedProgram: {},
            selectYear:[],
            selectedYear:[],
            accountNumber:0,
            rules: {
                number: value => !isNaN(value) || 'Needs to be a number',
                counter: value => (value||'').length == 10 || 'Needs to have 10 digits',
                search: value => (value||'').length >= 4 || 'Atleast 4 characters',
            },
            dialog: false,
            snackbar: false,
            snackbarMessage: '',
            validate:true

        }),
        created(){
//            this.$store.dispatch('loadUser',{});
//            this.user=this.$store.getters.getUser;
            this.selectedProgram={ name: this.user.program.name, code: this.user.program.code };

            //loading years
            for (let i=1;i<=this.user.program.year;i++){
                this.selectYear.push(i);
            }
            this.selectedYear=this.user.year;

            //load programs
            this.$store.dispatch('loadPrograms',{accessToken: this.$store.getters.getAccessToken});



            //loading account number
            this.accountNumber=this.user.account_number;
        },
        mounted(){
//            this.selectProgram=this.$store.getters.getPrograms;
        },
        components: {
            Navigation,User
        },
        computed: {
            /*
              Retrieves the User Load Status from Vuex
//            */
            user(){
                return this.$store.getters.getUser;
            },
            users:function () {
                return this.$store.getters.getUsers;
            },
            /*
              Retrieves the User Load Status from Vuex
//            */
            selectProgram(){
                return this.$store.getters.getPrograms;
            },
            /*
              Retrieves the User Load Status from Vuex
//            */
            userStatus(){
                return this.$store.getters.getUserLoginStatus;
            },
            usersStatus(){
                return this.$store.getters.getUsersLoadStatus;
            },

            validation(){
                if(this.accountNumber===""){
                    return true
                }
                else if(isNaN(this.accountNumber)){
                    return false;
                }else if(this.accountNumber!==null){
                    if (this.accountNumber.length<10)
                        return false;
                }

                return true;
            },

            /*
              Retrieves the User update status
            */
           userUpdateStatus(){
               return this.$store.getters.getUserUpdateStatus;
//
            },
            getAdmin:function () {
                return this.$store.getters.getAdmin;
            },
//            alert(){
//                if (this.userUpdateStatus===2){
//                   this.snackbar = true;
//                   this.snackbarMessage="Profile Editted!";
//                   this.dialog=false;
//               }else if(this.userUpdateStatus===3){
//                   this.snackbar = true;
//                   this.snackbarMessage="Could not edit profile.";
//               }else if(this.userUpdateStatus===4){
//                   this.snackbar = true;
//                   this.snackbarMessage="An error occurred.";
//               }
//            }
        },
        watch:{
            userUpdateStatus: function () {
                switch (this.userUpdateStatus) {
                    case 1:
                        this.snackbarMessage = "Loading...";
                        break;
                    case 2:
                        this.snackbarMessage = "Updated successfully.";
                        this.dialog=false;
                        break;
                    case 3:
                        this.snackbarMessage = "Error occurred. Try again.";
                        break;
                    case 4:
                        this.snackbarMessage = "Failed. Try again.";
                        break;
                    case 5:
                        this.snackbarMessage = "Cannot assign roles to developer.";
                        break;
                    default:
                        break;
                }
                this.snackbar = true;
            },

        },
        methods:{
            editUser(){
                this.$store.dispatch('updateUser',{
                    code:this.selectedProgram.code,
                    year:this.selectedYear,
                    account_number:this.accountNumber
                });
            },

            searchUsers(){
                if((this.search).length>=4){
                    this.searched=true;
                    this.$store.dispatch('loadUsers',{
                        text:this.search,
                        accessToken:this.$store.getters.getAccessToken
                    });
                }
            }

        }
    }

</script>