<style>
  .notice-body{
    padding-top:10px;
    /*font-size: 12pt;*/
    /*color: #555555;*/
  }

  .notice-information {
    padding:16px;
  }

  .notice-information p{
    width: 100%;
    margin: 0;
    font-size: 12px;
  }

  .notice-information h3.headline {
    width: 100%;
    margin: 0;
  }

  .notice_image{
    /*width:100%;*/
    margin: auto;
  }
  .notice_image img{
    width: 600px;
  }



</style>

<template>

    <v-flex xs12 sm6 md4 lg3>
      <v-card flat class="notice" hover  min-height="260" @click="viewNotice=true">
      <v-layout row>
        <v-flex  class="author">
          <img  :src="notice.author.avatar"/>
          <span>{{notice.author.name}}</span>
          <span class="grey--text date">{{notice.date}} </span>
        </v-flex>
      </v-layout>
      <v-layout row wrap v-if="notice.image_thumb!=null">

          <v-flex xs7>
            <div>
              <div class="headline">{{notice.title}}</div>
            </div>
          </v-flex>
          <v-flex xs5 >
            <v-img
                    :src="notice.image_thumb"
                    aspect-ratio="1"
            >
            </v-img>
          </v-flex>


        <v-flex xs12>
          <div class="grey--text ">
            <div v-html="body"></div>
            <!--{?:}}-->
          </div>
        </v-flex>
      </v-layout>
      <v-layout row v-else>
        <v-flex xs12>
          <div>
            <div class="headline">{{notice.title}}</div>
            <!--<div class="grey&#45;&#45;text">Posted by {{notice.author}}</div>-->
            <div class="grey--text notice-body">
              <div v-html="body"></div>
              <!--{?:}}-->
            </div>
          </div>
        </v-flex>
      </v-layout>
      <!--<v-divider></v-divider>-->
      <!--<v-card-actions>-->

      <!--<v-list >-->

      <!--</v-list>-->
      <!--</v-card-actions>-->
      </v-card>
      <v-dialog
              v-model="viewNotice"
              max-width="400px"
              scrollable
      >
        <v-card class="">
          <v-img
                  v-if="notice.image!=null"
                  :src="notice.image"
          >
            <!--class="notice-img"-->
          </v-img>
          <!--<v-card-title >-->
           <!---->
          <!--</v-card-title>-->
          <div class="notice-information">
            <h3 class="headline">{{notice.title}}</h3>
            <p class="grey--text ">By {{notice.author.name}}</p>
            <p class="grey--text ">Updated on {{notice.updated_at}}</p>
          </div>
          <v-card-text class="notice-body">
            <div class="grey--text " v-html="notice.body"></div>
          </v-card-text>
          <v-card-actions v-show="getAdmin || getAuthor">
            <v-btn color="primary" flat icon :to="{ name: 'update-notice', params:{slug:notice.slug}}"><v-icon>edit</v-icon></v-btn>
            <v-btn color="primary" flat icon @click="deleteDialog=true"><v-icon>delete</v-icon></v-btn>
            <!--<v-spacer></v-spacer>-->
            <!--<v-btn icon @click="shareDialog=true"><v-icon>share</v-icon></v-btn>-->
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog
              v-model="deleteDialog"
              max-width="300px"
      >
        <v-card>
          <v-card-title class="headline">Delete notice</v-card-title>
          <v-card-text>Are you sure you want to proceed?</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text flat color="error" @click="deleteDialog=false">Close</v-btn>
            <v-btn  color="error" class="elevation-0" @click="deleteNotice">Delete</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-flex>
</template>

<script>
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic'
    import UploadImage from 'vuetify-upload-button'

  export default {
      props:['notice','index','getAdmin','getAuthor'],
      data: () => ({
          viewNotice: false,
          deleteDialog:false,
          shareDialog:false,
          editor:ClassicEditor,
          editorConfig:{
              toolbar:['bold','italic','|','bulletedList','numberedList','|','undo','redo']
          },
          rules: {
              required: value => value!=='' || 'Cannot be empty',
          },
          image:'',
      }),
      components: {
          'upload-image':UploadImage,
      },
      computed:{
          body:function () {
              let body=(this.notice.body).replace(/<[^>]*>?/gm,' ');

              if(this.notice.image!=null){
                  if((body).length>130){
                      return (body).substring(0,130) + '...';
                  }
                  else
                      return body
              }else{
                  if((body).length>210){
                      return (body).substring(0,210) + '...';
                  }
                  else
                      return body
              }
          },
          noticeDeleteStatus:function () {
              return this.$store.getters.getNoticeDeleteStatus
          },
      },
      watch:{
          noticeDeleteStatus: function () {
              switch (this.noticeDeleteStatus) {
                  case 1:
//                      this.snackbarMessage = "Loading boards";
                      break;
                  case 2:
//                      this.snackbarMessage = "Boards loaded successfully.";
                      this.$store.dispatch('loadBoards',{accessToken: this.$store.getters.getAccessToken});
                      break;
                  case 3:
//                      this.snackbarMessage = "Boards failed to load.";
                      break;
                  case 4:
//                      this.snackbarMessage = "Boards failed to load.";
                      break;
                  default:
                      break;
              }
//                this.snackbar = true;
          },
      },
      methods:{

          deleteNotice(){
              this.$store.dispatch('deleteNotice',{
                  slug:this.notice.slug,
                  index:this.index,
                  accessToken:this.$store.getters.getAccessToken
              });

          },
          imageChanged(file){
              const reader=new FileReader();
              if (file){
                  reader.readAsDataURL(file);
                  reader.onload=(e)=>{
                      this.image=e.target.result;
                  };
              }
          },
          clear() {
              this.$refs.button.clear();
              this.image=''
          }
      }
  }
</script>