<style>
  #poll.v-input--selection-controls #poll.v-input__control{
    width:100%;
  }

  div.v-list.options.theme--light{
    /*margin:5px 0;*/
    background-color: #fbfbfb;
  }
  .v-list.options label.v-label.theme--light{
    color: rgba(0,0,0,0.87);
    margin: 3px 0 4px ;
  }

  /*.poll.v-btn.theme--light.success::before{*/
    /*margin: 6px 0;*/
  /*}*/

  .total_votes{
    margin: 6px 8px;
    /*font-size:12pt;*/
  }

</style>

<template>
  <v-flex xs12 md6 lg4
  >
    <v-card height="320"  flat class="poll-card " hover @click="viewDialog=true">

      <v-layout row>
        <v-flex  class="information">
          <span class="grey--text">{{poll.active?'ACTIVE':'CLOSED'}}</span>
          <span class="grey--text date">{{poll.end_date_readable}} </span>
        </v-flex>
      </v-layout>
      <v-flex xs12 >
        <h5 class="headline">{{poll.title}}</h5>
        <p class="total_votes">  {{ poll.total_votes }} {{poll.total_votes==1?'Vote':'Votes'}}</p>
      </v-flex>
      <!--<v-flex xs12 class=""></v-flex>-->


      <v-card-text v-if="poll.type=='Generic'" class="grey--text">
        <!--<div class="grey&#45;&#45;text">{{poll.description}}</div>-->
        <div  v-for="option in poll.options" :key="option.id">
          <div>
            <v-list-tile>
              <v-list-tile-content>
                {{option.option.name}}
              </v-list-tile-content>
              <v-list-tile-action>
                {{option.votes_count}}%
              </v-list-tile-action>
            </v-list-tile>
            <v-progress-linear :value="option.votes_count"></v-progress-linear>
          </div>

        </div>
      </v-card-text>
      <!--<v-card-text v-else>-->
      <!--<v-layout-->
      <!--row wrap-->
      <!--&gt;-->
      <!--<v-flex xs12 v-for="option in poll.options" :key="option.id" >-->
      <!--<div>-->
      <!--<v-list-tile avatar>-->
      <!--<v-list-tile-avatar>-->
      <!--<img :src="option.option.avatar">-->
      <!--</v-list-tile-avatar>-->
      <!--<v-list-tile-content>-->
      <!--<v-list-tile-title>-->
      <!--{{option.option.name}}-->
      <!--</v-list-tile-title>-->
      <!--<v-list-tile-sub-title>-->
      <!--{{option.votes_count}}%-->
      <!--</v-list-tile-sub-title>-->
      <!--</v-list-tile-content>-->
      <!--&lt;!&ndash;<v-list-tile-action>&ndash;&gt;-->
      <!--&lt;!&ndash;{{option.votes_count}}%&ndash;&gt;-->
      <!--&lt;!&ndash;</v-list-tile-action>&ndash;&gt;-->
      <!--</v-list-tile>-->
      <!--</div>-->
      <!--<div>-->
      <!--<v-progress-linear :value="option.votes_count"></v-progress-linear>-->
      <!--</div>-->
      <!--</v-flex>-->
      <!--</v-layout>-->
      <!--&lt;!&ndash;</v-container>&ndash;&gt;-->

      <!--</v-card-text>-->
      <!--<v-divider></v-divider>-->
      <!--<v-card-actions>-->
      <!--<v-flex xs12 v-if="poll.active==true">-->
      <!--<v-icon color="" small>people</v-icon>{{ poll.total_votes }}-->
      <!--<v-icon color="" small>info</v-icon> Active-->
      <!--</v-flex>-->
      <!--<v-flex xs12 v-else>-->
      <!--<v-icon color="" small>people</v-icon>{{ poll.total_votes }}-->
      <!--<v-icon color="" small>info</v-icon> Closed-->
      <!--</v-flex>-->
      <!--</v-card-actions>-->
    </v-card>
    <v-dialog v-model="viewDialog" max-width="600">
      <v-card id="poll">


          <!--<v-container>-->
          <!--<v-card>-->
          <v-card-title>
            <v-flex>
              <h2 class="headline">{{poll.title}}</h2>
              <!--<p>{{poll.description}}</p>-->
              <p class="total_votes">  {{ poll.total_votes }} {{poll.total_votes==1?'Vote':'Votes'}}</p>
            </v-flex>
            <!--<v-flex xs12 v-if="poll.active==true">-->
              <!--<v-icon color="" small>people</v-icon>{{ poll.total_votes }}-->
              <!--<v-icon color="" small>info</v-icon> Active-->
            <!--</v-flex>-->
            <!--<v-flex xs12 v-else>-->
              <!--<v-icon color="" small>people</v-icon>{{ poll.total_votes }}-->
              <!--<v-icon color="" small>info</v-icon> Closed-->
            <!--</v-flex>-->
          </v-card-title>

        <v-card-text>
            <v-flex v-if="poll.type=='Generic'">
              <v-flex>
                <v-list class="options">
                  <v-radio-group width="100" v-model="genericOptionId"  v-show="!poll.voted && poll.active">
                    <v-list-tile
                            v-for="option in poll.options" :key="option.id"

                    >
                      <v-list-tile-content >
                        <v-radio :value="option.id" :label="option.option.name"  :hint="`${option.votes_count}`" persistent-hint></v-radio>
                      </v-list-tile-content>
                      <!--<v-list-tile-action>-->
                        <!--{{option.votes_count}}%-->
                      <!--</v-list-tile-action>-->
                    </v-list-tile>
                  </v-radio-group>
                  <!--If voted-->
                  <div  v-show="poll.voted || !poll.active"
                        v-for="option in poll.options" :key="option.id">
                    <div>
                      <v-list-tile>
                        <v-list-tile-content>
                          {{option.option.name}}
                        </v-list-tile-content>
                        <v-list-tile-action>
                          {{option.votes_count}}%
                        </v-list-tile-action>
                      </v-list-tile>
                    </div>
                    <div>
                      <v-progress-linear :value="option.votes_count"></v-progress-linear>
                    </div>

                  </div>
                </v-list>
              </v-flex>
              <!--<v-btn :disabled="!validation" v-show="!poll.voted && poll.active" color="success" @click="vote">-->
                <!--Vote-->
              <!--</v-btn>-->

            </v-flex>

            <!--Electoral Template-->
            <!--<v-flex v-else>-->
              <!--<v-flex>-->
                <!--<v-list class="options" three-line>-->
                  <!--<v-radio-group width="100" v-model="electoralOptionId"  v-show="!poll.voted && poll.active">-->
                    <!--<v-list-tile v-for="option in poll.options" :key="option.id" avatar>-->
                      <!--<v-list-tile-action v-if="poll.active">-->
                        <!--<v-radio :value="option.id"></v-radio>-->
                      <!--</v-list-tile-action>-->
                      <!--<v-list-tile-avatar>-->
                        <!--<img :src="option.option.avatar">-->
                      <!--</v-list-tile-avatar>-->
                      <!--<v-list-tile-content>-->
                        <!--<v-list-tile-title>-->
                          <!--{{option.option.name}}-->
                        <!--</v-list-tile-title>-->
                        <!--<v-list-tile-sub-title>-->
                          <!--{{option.option.program.name}}-->
                        <!--</v-list-tile-sub-title>-->
                        <!--<v-list-tile-sub-title>-->
                          <!--Year {{ option.option.year}}-->
                        <!--</v-list-tile-sub-title>-->
                      <!--</v-list-tile-content>-->
                      <!--<v-list-tile-action>-->
                        <!--{{option.votes_count}}%-->
                      <!--</v-list-tile-action>-->
                    <!--</v-list-tile>-->
                  <!--</v-radio-group>-->

                  <!--&lt;!&ndash;If Voted&ndash;&gt;-->
                  <!--<div v-show="poll.voted || !poll.active" v-for="option in poll.options" :key="option.id" >-->
                    <!--<div>-->
                      <!--<v-list-tile avatar>-->
                        <!--<v-list-tile-avatar>-->
                          <!--<img :src="option.option.avatar">-->
                        <!--</v-list-tile-avatar>-->
                        <!--<v-list-tile-content>-->
                          <!--<v-list-tile-title>-->
                            <!--{{option.option.name}}-->
                          <!--</v-list-tile-title>-->
                          <!--<v-list-tile-sub-title>-->
                            <!--{{option.option.program.name}}-->
                          <!--</v-list-tile-sub-title>-->
                          <!--<v-list-tile-sub-title>-->
                            <!--Year {{ option.option.year}}-->
                          <!--</v-list-tile-sub-title>-->
                        <!--</v-list-tile-content>-->
                        <!--<v-list-tile-action>-->
                          <!--{{option.votes_count}}%-->
                        <!--</v-list-tile-action>-->
                      <!--</v-list-tile>-->
                    <!--</div>-->
                    <!--<div>-->
                      <!--<v-progress-linear :value="option.votes_count"></v-progress-linear>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</v-list>-->
              <!--</v-flex>-->

              <!--&lt;!&ndash;<p class="total_votes">  {{ poll.total_votes }} {{poll.total_votes==1?'Vote':'Votes'}}</p>&ndash;&gt;-->
            <!--</v-flex>-->
          </v-card-text>

          <!--Delete Button-->
          <!--<v-btn-->
                  <!--color="primary"-->
                  <!--dark-->
                  <!--fixed-->
                  <!--bottom-->
                  <!--right-->
                  <!--fab-->
                  <!--slot="activator"-->
                  <!--@click="dialog=true"-->

          <!--&gt;-->
            <!--<v-icon>delete</v-icon>-->
          <!--</v-btn>-->

        <v-card-actions>
          <v-btn color="error" flat @click="dialog=true">Delete</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" flat @click="viewDialog=false">Close</v-btn>
          <v-btn :disabled="!validation" v-show="!poll.voted && poll.active" color="success" @click="vote">
            Vote
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
            v-model="dialog"
            max-width="290"
    >
      <v-card>
        <v-card-title class="headline">Delete Poll?</v-card-title>
        <v-card-text>You will permanently lose this data.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat color="primary" @click="dialog=false">Cancel</v-btn>
          <v-btn flat color="error" @click="deletePoll">Delete</v-btn>
        </v-card-actions>
      </v-card>

    </v-dialog>
    <v-snackbar
            v-model="snackbar"
            color="primary"
    >
      {{snackbarMessage}}
    </v-snackbar>
  </v-flex>
</template>

<script>

    export default {
        props:['poll','index'],

        data: () => ({
            genericOptionId:'',
            electoralOptionId:'',
            snackbar:false,
            snackbarMessage:'',
            dialog:false,
            viewDialog:false
        }),
        created(){



        },
        computed:{
//            poll:function () {
//                return this.$store.getters.getPoll;
//            },
//            pollLoadStatus:function () {
//                return this.$store.getters.getPollLoadStatus;
//            },
            voteLoadStatus:function () {
                return this.$store.getters.getVoteLoadStatus;
            },
            pollDeleteStatus:function () {
                return this.$store.getters.getPollDeleteStatus;
            },
            isAdmin:function () {
              return this.$store.getters.getAdmin
            },
            optionId:function () {
                if(this.poll.type==='Generic')
                    return this.genericOptionId
                else
                    return this.electoralOptionId
            },
            validation:function () {
               return !(this.optionId===''||this.optionId===null || this.pollLoadStatus===1)
            }
        },
        methods:{
            vote(){
                this.$store.dispatch('storeVote',{
                    option_id:this.optionId,
                    index:this.index,
                    accessToken: this.$store.getters.getAccessToken
                });
            },
            deletePoll(){
                this.$store.dispatch('deletePoll',{
                    id:this.poll.id,
                    index:this.index,
                    accessToken: this.$store.getters.getAccessToken
                });
            }
        },
        watch: {
            voteLoadStatus: function () {
                switch (this.voteLoadStatus) {
                    case 1:
                        this.snackbarMessage = "Casting vote";
                        break;
                    case 2:
                        this.snackbarMessage = "Voted successfully.";
//                        this.$router.push('/polls')
                        this.viewDialog=false;
                        this.$store.dispatch('loadPolls', {
                            page:1,
                            accessToken: this.$store.getters.getAccessToken
                        });
                        break;
                    case 3:
                        this.snackbarMessage = "Voting was unsuccessful.";
                        break;
                    case 4:
                        this.snackbarMessage = "Voting was unsuccessful.";
                        break;
                    default:
                        break;
                }
                this.snackbar = true;
            },
            pollDeleteStatus: function () {
                switch (this.pollDeleteStatus) {
                    case 1:
                        this.snackbarMessage = "Deleting poll";
                        break;
                    case 2:
                        this.snackbarMessage = "Deleted successfully.";
//                        this.$router.push('/polls')
                        this.viewDialog=false;
                        break;
                    case 3:
                        this.snackbarMessage = "Deleting was unsuccessful.";
                        break;
                    case 4:
                        this.snackbarMessage = "Deleting was unsuccessful.";
                        break;
                    default:
                        break;
                }
                this.snackbar = true;
            },
        }
    }
</script>