<style>
  .trashed_notice:hover{
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.5);
  }



  td:nth-child(1){
    cursor:pointer;
  }


</style>

<template>

    <tr class="trashed_notice">
      <td  @click="viewNotice=true">{{trashedNotice.title}}</td>
      <!--<td>{{body}}</td>-->
      <!--<td>{{boardTitle}}</td>-->
      <!--<td>{{trashedNotice.author.name}}</td>-->
      <!--&lt;!&ndash;<td>{{trashedNotice.featured}}</td>&ndash;&gt;-->
      <!--<td>{{trashedNotice.updated_at}}</td>-->


      <td>
        <!--<v-icon  @click="viewNotice=true">remove_red_eye</v-icon>-->
        <v-icon  @click="restoreNoticeDialog=true" color="success">restore</v-icon>
        <v-icon  @click="trashNoticeDialog=true" color="error">delete</v-icon>
        <v-dialog
                v-model="viewNotice"
                max-width="400px"
        >
          <v-card class="">
            <v-img
                    v-if="trashedNotice.image!=null"
                    :src="trashedNotice.image"
            >
              <!--class="notice-img"-->
            </v-img>
            <!--<v-card-title >-->
            <!---->
            <!--</v-card-title>-->
            <div class="notice-information">
              <h3 class="headline">{{trashedNotice.title}}</h3>
              <p class="grey--text ">By {{trashedNotice.author.name}}</p>
              <p class="grey--text ">Updated {{trashedNotice.date}}</p>
            </div>
            <v-card-text class="notice-body">
              <div class="grey--text " v-html="trashedNotice.body"></div>
            </v-card-text>

          </v-card>
        </v-dialog>
        <v-dialog
                v-model="restoreNoticeDialog"
                max-width="300px"
        >
          <v-card>
            <v-card-title class="headline">Restore notice</v-card-title>
            <v-card-text>Are you sure you want to proceed?</v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn text flat color="success" @click="restoreNoticeDialog=false">Close</v-btn>
              <v-btn  color="success" class="elevation-0" @click="restoreTrashedNotice">Restore</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog
                v-model="trashNoticeDialog"
                max-width="300px"
        >
          <v-card>
            <v-card-title class="headline">Delete notice</v-card-title>
            <v-card-text>Are you sure you want to proceed?</v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn text flat color="error" @click="trashNoticeDialog=false">Close</v-btn>
              <v-btn  color="error" class="elevation-0" @click="deleteTrashedNotice">Delete</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-snackbar
                v-model="snackbar"
                color="primary"
        >
          {{snackbarMessage}}
        </v-snackbar>

      </td>
    </tr>

</template>

<script>


  export default {
      props:['trashedNotice','index','action'],
      data: () => ({
          viewNotice:false,
          restoreNoticeDialog:false,
          trashNoticeDialog:false,
          snackbar:false,
          snackbarMessage:'',

      }),
      components: {

      },
      computed:{
          boardTitle:function () {
              return (this.trashedNotice.board.title).charAt(0).toUpperCase()+(this.trashedNotice.board.title).slice(1)
          },
          body:function () {
              let body=(this.trashedNotice.body).replace(/<[^>]*>?/gm,' ');

                if((body).length>50){
                    return (body).substring(0,50) + '...';
                }
                else
                    return body


          },
          noticeDeleteStatus:function () {
              return this.$store.getters.getNoticeDeleteStatus
          },
      },
      watch:{
          noticeDeleteStatus: function () {
              switch (this.noticeDeleteStatus) {
                  case 1:
                      this.snackbarMessage = "Loading...";
                      break;
                  case 3:
                      this.snackbarMessage = "Error occurred. Try again.";
                      break;
                  case 4:
                      this.snackbarMessage = "Failed. Try again.";
                      break;
                  case 5:
                      this.snackbarMessage = "Notice restored successfully.";
                      break;
                  case 6:
                      this.snackbarMessage = "Notice trashed successfully.";
                      break;
                  default:
                      break;
              }
                this.snackbar = true;
          },
      },
      methods:{
          restoreTrashedNotice(){
              this.action='restor';
              this.$store.dispatch('restoreNotice',{
                  slug:this.trashedNotice.slug,
                  index:this.index,
                  accessToken:this.$store.getters.getAccessToken
              });
          },
          deleteTrashedNotice(){
              this.action='trash';
              this.$store.dispatch('trashNotice',{
                  slug:this.trashedNotice.slug,
                  index:this.index,
                  accessToken:this.$store.getters.getAccessToken
              });
          },
      }
  }
</script>