<style>
  .user.theme--light.v-sheet{
    padding: 40px;
    background-color: white;
    border: 2px solid #eceff1;
    border-radius:6px;

    margin:20px;
  }





</style>

<template>
  <v-card flat text hover class="user">
    <v-list>
      <v-list-tile avatar >
        <v-list-tile-avatar>
          <img :src="user.avatar">
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title>
            {{user.name}}
          </v-list-tile-title>
          <v-list-tile-sub-title>
            {{user.email}}
          </v-list-tile-sub-title>
          <v-list-tile-sub-title
                  v-for="(role,index) in user.roles.data"
                  :key="role.id"
                  v-if="role.name=='Student' || role.name=='Staff'"
          >
            {{role.name}}
          </v-list-tile-sub-title>
        </v-list-tile-content>
        <v-list-tile-action v-show="getAdmin && !developer">
          <v-btn icon color="primary"  @click="updateRole"><v-icon>save</v-icon></v-btn>
        </v-list-tile-action>
      </v-list-tile>
      <div v-show="getAdmin && !developer">
        <!--<v-list-tile-content>-->
          <v-switch
                  color="primary"
                  label="Admin"
                  v-model="admin"
          ></v-switch>
          <v-switch
                  color="primary"
                  label="Author"
                  v-model="author"
                  style="margin-top: 0"
          ></v-switch>
        <!--</v-list-tile-content>-->
      </div>
    </v-list>

  </v-card>
</template>

<script>


  export default {
      props:['user','index','getAdmin'],
      data: () => ({
          admin:false,
          author:false,
          developer:false,
      }),
      components: {

      },
      created(){
          let roles=this.user.roles.data;
          for (let x in roles){
              if (roles[x].name === 'Admin')
                  this.admin=true;
              else if (roles[x].name === 'Author')
                  this.author=true;
              else if (roles[x].name === 'Developer')
                  this.developer=true;
          }
      },

      watch:{

      },
      methods:{
          updateRole(){
              this.$store.dispatch('updateRole',{
                  google_id:this.user.google_id,
                  index:this.index,
                  admin:this.admin?1:0,
                  author:this.author?1:0,
                  accessToken:this.$store.getters.getAccessToken
              });

          },
      }
  }
</script>