<style lang="scss">
    img.logo{
        width:30px;
        float:left;
    }

    nav{
        padding-top:10px;
        margin-bottom:20px;

        ul{
            list-style-type:none;
            margin:6px 0 0 0 ;
            padding:0;
            float:right;
            /*padding:0 0 0 15px;*/


            li{
                font-size:12px;
                font-weight:500;

                display:inline-block;
                /*border-right:2px solid #6aebff;*/
                padding:0;
                margin:0;

                &:last-child {
                     border-right:0;
                 }

                a, span{
                    text-decoration: none;
                    color:white;
                    margin:0 10px;
                    /*font-weight: 400;*/
                    /*padding-bottom:5px;*/


                    &:hover{
                         text-decoration: none;
                         /*color: #EBFDFF;*/
                         cursor:pointer;
                    }
                 }

                .router-link-exact-active{
                    color:#6aebff;

                    li a, span .v-icon{
                        color:#6aebff;
                    }
                }
            }

            li.expandable{
                display: none;
            }
            li.expandable_icon{
                display: inline;
            }
        }
    }

    .nav-links{
        display: none;
    }

    .nav-links a{
        color:#555
    }
    a:hover{
        text-decoration:none
    }

    .main-nav {
        position: fixed;
        top: 0;
        right: -600px;
        height: 100vh;
        width: 100%;
        background-color: #424242;
        color:white;
        transition: all 0.3s;
        z-index: 99999;
        padding: 40px;

        a{
            color: rgba(255,255,255,0.8);
             font-size:12pt;
         }

        .theme--light.v-list{
            background-color:transparent;
            color: rgba(255,255,255,0.8);
            width:200px;
        }
    }
    .main-nav.open{
        right:0;
    }

    .icon{
        align-items: center;
        display: flex;
        padding: 0 24px;
        height:64px;
    }
    @media only screen and (min-width: 576px) {
        .main-nav {
            width: 300px;
        }
        .nav-links{
            display: inline;
        }
    }

    @media only screen and (min-width: 768px) {
        img.logo{
            width:35px;
        }

        nav ul{
            li{
                font-weight: 600;
            }
            li.expandable{
                display: inline;
            }
            li.expandable_icon{
                display: none;
            }
        }
    }

    @media only screen and (min-width: 960px) {
        nav ul{
            li{
                font-size: 13px;
            }
        }
    }
    @media only screen and (min-width: 1264px) {
        nav ul{
            li{
                font-size: 14px;
            }
        }
    }
</style>

<template>
    <v-container>
        <nav>
            <div ><router-link :to="{ name: 'home'}"> <img class="logo" src="../../../images/logo.svg" alt=""></router-link></div>

            <ul>
                <!--nav-links hidden-sm-and-down -->
                <li
                class="expandable">
                    <router-link :to="{ name: 'home'}">
                        HOME
                    </router-link>
                </li>
                <li
                        v-show="userStatus == 2"
                        class="expandable"
                >
                    <router-link :to="{ name: 'boards'}">
                        BOARDS
                    </router-link>
                </li>
                <li
                        v-show="userStatus == 2"
                        class="expandable"
                >
                    <router-link :to="{ name: 'polls'}">
                        POLLS
                    </router-link>
                </li>
                <li
                        v-show="userStatus == 2 && (getAdmin || getAuthor)"
                        class="expandable"
                >
                    <router-link :to="{ name: 'trash'}">
                        TRASH
                    </router-link>
                </li>
                <li
                        v-show="userStatus == 2"
                        class="expandable"
                        @click="logoutUser"
                >
                    <span>LOGOUT</span>
                </li>
                <li
                        v-show="userStatus !== 2"
                        class="expandable"
                >
                    <router-link :to="{ name: 'sign-in'}">
                        SIGN IN
                    </router-link>
                </li>
                <li v-show="userStatus == 2"
                class="expandable">
                    <router-link :to="{ name: 'user'}">
                        <v-avatar size="30">
                            <img :src="user.avatar" alt="">
                        </v-avatar>
                    </router-link>
                </li>
                <li class="expandable_icon"><v-icon color="white" @click="openNav">menu</v-icon></li>
            </ul>
        </nav>
            <!--<v-toolbar-items>-->
                <!--<v-btn flat>-->
                  <!---->
                <!--</v-btn>-->
             <!---->

                <!--<v-btn v-show="userStatus !==2 && userStatus !==1" flat>-->
                    <!--<router-link :to="{ name: 'sign-in'}">-->
                        <!--Sign in-->
                    <!--</router-link>-->

                <!--</v-btn>-->
            <!--</v-toolbar-items>-->
            <!--<v-toolbar-side-icon-->
                    <!--@click="openNav"-->
            <!--&gt;</v-toolbar-side-icon>-->

        <div class="main-nav header">
            <v-layout
                    grid-list-xs
                    row
            >
                <v-flex class="icon">
                    <v-icon color="white" @click="closeNav">close</v-icon>
                </v-flex>
            </v-layout>
            <!--<v-layout>-->
               <!---->
            <!--</v-layout>-->
            <v-layout>
                <v-flex>
                    <v-list class="">
                        <v-flex
                                v-if="user"
                                v-show="userStatus == 2"
                                xs12
                                @click="closeNav"
                        >
                            <router-link :to="{ name: 'user'}" >
                                <v-list class="">
                                    <v-list-tile avatar>
                                        <v-list-tile-avatar>
                                            <v-img :src="user.avatar"></v-img>
                                        </v-list-tile-avatar>

                                        <v-list-tile-content>
                                            <v-list-tile-title >{{user.name}}</v-list-tile-title>
                                        </v-list-tile-content>
                                    </v-list-tile>
                                </v-list>
                            </router-link>
                            <!--<v-divider dark></v-divider>-->
                        </v-flex>
                        <v-flex xs12>
                            <!--<v-list-tile>-->
                                <!--<v-list-tile-content>-->
                                    <!--<v-list-tile-title>-->
                                        <div @click="closeNav">
                                            <router-link :to="{ name: 'home'}" >
                                                <span class="">Home</span>
                                            </router-link>
                                        </div>
                                    <!--</v-list-tile-title>-->
                                <!--</v-list-tile-content>-->
                            <!--</v-list-tile>-->
                            <v-divider dark></v-divider>
                        </v-flex>

                        <v-flex xs12 v-if="user"
                                v-show="userStatus == 2">
                            <!--<v-list-tile>-->
                                <!--<v-list-tile-content>-->
                                    <!--<v-list-tile-title>-->
                                        <div @click="closeNav"  >
                                            <router-link :to="{ name: 'boards' }" >
                                                Boards
                                            </router-link>
                                        </div>

                                    <!--</v-list-tile-title>-->
                                <!--</v-list-tile-content>-->
                            <!--</v-list-tile>-->
                            <v-divider dark></v-divider>
                        </v-flex>

                        <v-flex xs12 v-if="user"
                                v-show="userStatus == 2">
                            <!--<v-list-tile>-->
                                <!--<v-list-tile-content>-->
                                    <!--<v-list-tile-title>-->
                                        <div @click="closeNav"  >
                                            <router-link :to="{ name: 'polls' }" >
                                                Polls
                                            </router-link>
                                        </div>

                                    <!--</v-list-tile-title>-->
                                <!--</v-list-tile-content>-->
                            <!--</v-list-tile>-->
                            <v-divider dark></v-divider>
                        </v-flex>

                        <v-flex xs12 v-if="user"
                                v-show="userStatus == 2 && (getAdmin || getAuthor)">
                            <!--<v-list-tile>-->
                                <!--<v-list-tile-content>-->
                                    <!--<v-list-tile-title>-->
                                        <div @click="closeNav"  >
                                            <router-link :to="{ name: 'trash' }" >
                                                Trash
                                            </router-link>
                                        </div>

                                    <!--</v-list-tile-title>-->
                                <!--</v-list-tile-content>-->
                            <!--</v-list-tile>-->
                            <v-divider dark></v-divider>
                        </v-flex>

                        <v-flex xs12  v-show="userStatus !==2 && userStatus !==1">
                            <!--<v-list-tile>-->
                                <!--<v-list-tile-content>-->
                                    <!--<v-list-tile-title>-->
                                        <div @click="closeNav" >
                                            <router-link :to="{ name: 'sign-in' }" >
                                                Sign in
                                            </router-link>
                                        </div>

                                    <!--</v-list-tile-title>-->
                                <!--</v-list-tile-content>-->
                            <!--</v-list-tile>-->
                        </v-flex>

                        <v-flex xs12 v-if="user"
                                v-show="userStatus == 2">
                            <!--<v-list-tile>-->
                                <!--<v-list-tile-content>-->
                                    <div @click="logoutUser"  >
                                        <a>
                                            Logout
                                        </a>
                                    </div>
                                <!--</v-list-tile-content>-->
                            <!--</v-list-tile>-->
                        </v-flex>
                    </v-list>
                </v-flex>
            </v-layout>
        </div>
    </v-container>
</template>

<script>
    /*
    * Imports the google button
    */

    export default {
//        props:['user','userStatus'],
        data () {
            return {
                //drawer
                drawer: null,
                dialog: false,
                /**
                 * The Auth2 parameters, as seen on
                 * https://developers.google.com/identity/sign-in/web/reference#gapiauth2initparams.
                 * As the very least, a valid client_id must present.
                 * @type {Object}
                 */
                googleSignInParams: {
                    client_id: '499781986537-j45asi8r3k3msg39t382i9bon1nlo7h0.apps.googleusercontent.com'
                }
            }
        },
        /*
          Defines the computed properties on the component.
        */
        computed: {
            userStatus:function(){
                return this.$store.getters.getUserLoginStatus;
            },

            /*
            * Gets the user with the updated token
            */
            user:function () {
                return this.$store.getters.getUser;
            },
            getAdmin:function () {
                return this.$store.getters.getAdmin;
            },
            getAuthor:function () {
                return this.$store.getters.getAuthor;
            },
        },
        methods:{
            logoutUser(){
                this.closeNav();
                this.$store.dispatch('logoutUser');
                this.$store.dispatch('clearBoards');
                this.$store.dispatch('clearPrograms');
                localStorage.removeItem('vuex');
                return this.$router.push('/');
            },

            openNav(){
                $('nav').addClass('open');
                $('.main-nav').addClass('open');
//                $('.main-container').addClass('open');
            },
            closeNav(){
                $('nav').removeClass('open');
                $('.main-nav').removeClass('open');
//                $('.main-container').removeClass('open');
            }
        }
    }
</script>